# Простий конфіг squid

http_port {{ squid_port }}

acl localnet src {{ allowed_networks | join(' ') }}
http_access allow localnet
http_access deny all

coredump_dir /var/spool/squid

access_log /var/log/squid/access.log squid

